<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.partTime.mapper.PtpUserDeliverMapper">
    
    <resultMap type="PtpUserDeliver" id="PtpUserDeliverResult">
        <result property="companyUserId"    column="company_user_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>
	
	<sql id="selectPtpUserDeliverVo">
        select company_user_id, user_id from ptp_user_deliver
    </sql>
	
    <select id="selectPtpUserDeliverList" parameterType="PtpUserDeliver" resultMap="PtpUserDeliverResult">
        <include refid="selectPtpUserDeliverVo"/>
        <where>  
            <if test="companyUserId != null "> and company_user_id = #{companyUserId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
         </where>
    </select>
    
    <select id="selectPtpUserDeliverById" parameterType="Integer" resultMap="PtpUserDeliverResult">
        <include refid="selectPtpUserDeliverVo"/>
        where company_user_id = #{companyUserId}
    </select>
        
    <insert id="insertPtpUserDeliver" parameterType="PtpUserDeliver">
        insert into ptp_user_deliver
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyUserId != null  ">company_user_id,</if>
			<if test="userId != null  ">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyUserId != null  ">#{companyUserId},</if>
			<if test="userId != null  ">#{userId},</if>
         </trim>
    </insert>
	 
    <update id="updatePtpUserDeliver" parameterType="PtpUserDeliver">
        update ptp_user_deliver
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
        </trim>
        where company_user_id = #{companyUserId}
    </update>

	<delete id="deletePtpUserDeliverById" parameterType="Integer">
        delete from ptp_user_deliver where company_user_id = #{companyUserId}
    </delete>
	
    <delete id="deletePtpUserDeliverByIds" parameterType="String">
        delete from ptp_user_deliver where company_user_id in 
        <foreach item="companyUserId" collection="array" open="(" separator="," close=")">
            #{companyUserId}
        </foreach>
    </delete>
    
</mapper>