<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.partTime.mapper.PtpWorkExperienceMapper">
    
    <resultMap type="PtpWorkExperience" id="PtpWorkExperienceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="workExperience"    column="work_experience"    />
    </resultMap>
	
	<sql id="selectPtpWorkExperienceVo">
        select id, user_id, work_experience from ptp_work_experience
    </sql>
	
    <select id="selectPtpWorkExperienceList" parameterType="PtpWorkExperience" resultMap="PtpWorkExperienceResult">
        <include refid="selectPtpWorkExperienceVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="workExperience != null  and workExperience != '' "> and work_experience = #{workExperience}</if>
         </where>
    </select>
    
    <select id="selectPtpWorkExperienceById" parameterType="Integer" resultMap="PtpWorkExperienceResult">
        <include refid="selectPtpWorkExperienceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPtpWorkExperience" parameterType="PtpWorkExperience" useGeneratedKeys="true" keyProperty="id">
        insert into ptp_work_experience
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">user_id,</if>
			<if test="workExperience != null  and workExperience != ''  ">work_experience,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">#{userId},</if>
			<if test="workExperience != null  and workExperience != ''  ">#{workExperience},</if>
         </trim>
    </insert>
	 
    <update id="updatePtpWorkExperience" parameterType="PtpWorkExperience">
        update ptp_work_experience
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="workExperience != null  and workExperience != ''  ">work_experience = #{workExperience},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePtpWorkExperienceById" parameterType="Integer">
        delete from ptp_work_experience where id = #{id}
    </delete>
	
    <delete id="deletePtpWorkExperienceByIds" parameterType="String">
        delete from ptp_work_experience where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByUserId" parameterType="Integer">
        delete from ptp_work_experience where user_id = #{userId}
    </delete>

    <insert id="batchInsert" >
        insert into ptp_work_experience (user_id, work_experience)
        values
        <foreach collection="list" item="item" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>
</mapper>